<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgJMynnKwvyX5GycakKbH9ayQQeiPsNz0</string>
	<key>GCM_SENDER_ID</key>
	<string>77543413472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleLoginFirebase</string>
	<key>PROJECT_ID</key>
	<string>simple-fire-auth97</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-fire-auth97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77543413472:ios:9dbb02a32cb0a445a56285</string>
</dict>
</plist>